{% extends 'base.html' %}
{% load static %}
{% block body-base %}
<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="/login">登入</a></li>
        <li class="layui-this">找回密码</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">


              <form method = 'post' class="layui-form layui-form-pane" enctype="multipart/form-data">
                          {% for i in fg_form %}
                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ i.label}}</label>
                        <div class="layui-input-inline">
                            {{i}}
                        </div>
                        <div class="layui-form-mid layui-word-aux">{{ i.help_text }}</div>
                      </div>

                    {% endfor %}


               {% for j in ver_form %}
                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ j.label}}</label>
                        <div class="layui-input-inline">
                            {{j}}
                        </div>
                        <div class="layui-form-mid layui-word-aux">{{ j.help_text }}</div>
                      </div>

                    {% endfor %}

                          <div class="layui-form-item">
                                <label class="layui-form-label">验证码</label>
                                <div class="layui-input-inline">
                                    <a href="#" class="next-captcha">
                                        <img src="/captcha/image/6f33c711d28e292db9b0678d61b20ce73bd21e60/" class="captcha" alt="captcha">换一张</a>
                                    <input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="6f33c711d28e292db9b0678d61b20ce73bd21e60">

                                </div>
                          </div>

              <div class="layui-form-item">
                <button class="layui-btn" >找回密码</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">

        $(".next-captcha").click(function() {
            $.getJSON('/refresh_captcha', function (json) {
                var status = json['status'];
                var new_cptch_key = json['new_cptch_key'];
                var new_cptch_image = json['new_cptch_image'];
                id_captcha_0 = $("#id_reg_captcha_0");
                img = $(".captcha");
                id_captcha_0.attr("value", new_cptch_key);
                img.attr("src", new_cptch_image);
            });
        })

    </script>

{% endblock %}

{% block js-content %}
{% endblock %}