{% extends 'base_logon.html' %}

{% block body-logon %}

<div class="fly-panel" style="margin-bottom: 0;">
    <div class="fly-panel-title fly-filter">
         <a href="/{{ username }}/{{ pjt }}/show">结构展示</a>
        <span class="fly-mid"></span>
        <a href="/{{ username }}/{{ pjt }}/case">流程用例</a>
        <span class="fly-mid"></span>
        <a href="/{{ username }}/{{ pjt }}/fcs">功能点用例</a>
        <span class="fly-mid"></span>
        <a href="#" class="layui-this">管理用例</a>
        <span class="fly-mid"></span>
        <a href="/{{ username }}/{{ pjt }}/edit">添加用例</a>
    </div>
    <div class="layui-col-md-offset0 fly-panel-main fly-filter">
        <div style="width: 100%;min-height:340px;padding: 0;">
            {% if case_list %}
                <table class="layui-table" id="case_del"><colgroup>
                    <col width="25"><col width="25"><col><col width="10"><col></colgroup>
                    <thead><tr><th>ID</th><th>name</th><th>操作步骤</th><th>DEL</th></tr></thead>
                    <tbody>
                    {% for i in case_list %}
                        <tr><td>{{ forloop.counter}}</td>
                            <td>{{ i.0 }}</td>
                            <td>{% for j in i.1 %}
                                <i class="layui-icon" style="font-size: 15px; color: #1E9FFF;">&#xe63b;{{ forloop.counter}}.</i>
                                {{ j.0 }}
                                {{ j.1 }}
                                {% endfor %}
                                </td>
                            <td>
                                <a class="layui-btn layui-btn-sm" onclick="deleteCase(this,'{{ username }}','{{ pjt }}','{{ i.0 }}')">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody></table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript">

    layui.use(['upload','jquery'], function() {
        var $ = layui.jquery;
    });

    function deleteCase(r,un,pjt,case_name) {
        layer.confirm('你要删除测试用例 ['+case_name+'] 吗？', {
            btn: ['删除项目', '放弃'] //可以无限个按钮
            , btn1: function () {
            layer.closeAll();
        }
        }, function () {

            var i=r.parentNode.parentNode.rowIndex;

            document.getElementById('case_del').deleteRow(i);
            layer.closeAll();
            location.href="/"+un+"/"+pjt+'/delc/'+case_name+'/';
        });
    }
</script>

{% endblock %}
