{% extends 'base_logon.html' %}


 {% block head-css %}

    <style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }
        .fileinput-button input{
            position:absolute;
            right: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }
    </style>

 {% endblock %}


   {% block body-logon %}

    <div class="fly-panel" style="margin-bottom: 0;">
          <div class="fly-panel-title fly-filter">
              <a href="/{{ username }}/show">项目信息</a>
              <span class="fly-mid"></span>
              <a href="/{{ username }}/pjt2stand">基准项目</a>
              <span class="fly-mid"></span>
              <a href="#" class="layui-this">新建项目</a>
              <span class="fly-mid"></span>
              <a href="/{{ username }}/del">删除项目</a>
        </div>

        <div class="layui-col-md-offset0 fly-panel-main fly-filter">
            <div style="width: 100%;height:320px;padding: 0;">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                  <legend>请录入项目信息</legend>
                </fieldset>
                <div class="layui-col-md-offset3 fly-panel-main fly-filter">
                    <form method = 'post' class="layui-form layui-form-pane" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="layui-col-md-offset0">
                         <div class="layui-upload">
                              <label class="layui-form-label">{{ projectform.pjt_name.label}}</label>
                             <div class="layui-input-inline">{{ projectform.pjt_name }}</div>
                             <br><br>
                             <label class="layui-form-label">{{ projectform.apk_file.label}}</label>
                             <div class="layui-input-inline">
                                 <span class="btn btn-success fileinput-button">
                                    <span>
                                        <a class="layui-btn layui-btn-danger"><i class="layui-icon"></i>选择文件</a>
                                    </span>
                                    {{ projectform.apk_file }}
                                </span>
                             </div>
                             <br><br>
                             <ul id = "id_apk_file_on" ><a style="font-size: 15px; color: #009688;">鼠标悬停可查看包文件名</a></ul>
                             <br>
                             <div class="layui-progress">
                                  <div id='pross_per' class="layui-progress-bar" style="height:100%;width:0px;;"></div>
                                </div>
                                <b style="margin-right:20px" id='per'>0%</b>
                             <br><br><br>
                                <div class="layui-col-md-offset2">
                                    <button type="button" class="layui-btn layui-btn-normal" onclick="upload();">创建项目</button>
                          </div>
                         </div>
                     </div>
                  </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

	<script>

        function sleep(numberMillis) {
            var now = new Date();
            var exitTime = now.getTime() + numberMillis;
            while (true) {
                now = new Date();
                if (now.getTime() > exitTime)
                    return;
            }
        }

		function on_progress(evt) {
			if(evt.lengthComputable) {
				var ele = document.getElementById('pross_per');
				var percent = Math.round((evt.loaded) * 100 / evt.total);
				ele.style.width = percent + '%';
				document.getElementById('per').innerHTML = percent + '%';
				if (percent == 100){
				    sleep(500);
                    window.location.href="/{{ username }}/show"
                }
			}
		}
		function upload() {
            alert(123);

            var xhr = new XMLHttpRequest();
            var apk_file = document.getElementById('id_apk_file').files[0];
            var pjt_name = document.getElementById('id_pjt_name').value;

            if (!pjt_name) {
                document.getElementById('id_pjt_name').setCustomValidity("pht_input");
                document.getElementById('id_apk_file_on').innerHTML='<a style="font-size: 15px; color: #FF5722;">需要输入项目名称</a>';
            } else if (!apk_file) {
                document.getElementById('id_pjt_name').setCustomValidity("");
                document.getElementById('id_apk_file_on').innerHTML='<a style="font-size: 15px; color: #FF5722;">需要选择程序包文件</a>';
            } else {
                document.getElementById('id_apk_file_on').innerHTML='<a style="font-size: 15px; color: #009688;">'+apk_file.name+'</a>';
                var form = new FormData();
                form.append('apk_file', apk_file);
                form.append('pjt_name', pjt_name);
                xhr.upload.addEventListener('progress', on_progress, false);
                xhr.open('POST', '{{ request.url }}/upapk/', true);
                xhr.setRequestHeader('X-CSRFTOKEN', '{{ request.COOKIES.csrftoken }}');
                xhr.send(form);
            }
        }
	</script>

{% endblock %}
