{% extends 'base_logon.html' %}

{% block body-logon %}

<div class="fly-panel" style="margin-bottom: 0;">
    <div class="fly-panel-title fly-filter">
        <a href="/{{ username }}/show" >项目信息</a>
        <span class="fly-mid"></span>
        <a href="/{{ username }}/add">添加项目</a>
        <span class="fly-mid"></span>
        <a href="#" class="layui-this">删除项目</a>
    </div>
    <div class="layui-col-md-offset0 fly-panel-main fly-filter">
        <div style="width: 100%;min-height:340px;padding: 0;">
            {% if project_info %}
                <table class="layui-table" id="table_del"><colgroup>
                    <col width="25"><col width="25"><col><col width="10"><col></colgroup>
                    <thead><tr><th>id</th><th>app_name</th><th>app_path</th><th>DEL</th></tr></thead>
                    <tbody>
                    {% for i in project_info %}
                        <tr><td>{{ i.0 }}</td>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.5 }}</td>
                            <td>
                                <a class="layui-btn layui-btn-sm" onclick="deleteRow(this,'{{ i.1 }}')">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody></table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript">


    layui.use(['upload','jquery'], function() {
        var $ = layui.jquery;
    });

    function deleteRow(r,pjt_name) {
        layer.confirm('你要删除项目 ['+pjt_name+'] 吗？', {
            btn: ['删除项目', '放弃'] //可以无限个按钮
            , btn1: function () {
            layer.closeAll();
            alert('234');
        }
        }, function () {
            alert('2324');
            var i=r.parentNode.parentNode.rowIndex;
            document.getElementById('table_del').deleteRow(i);
            layer.closeAll();
            location.href="/del_pjt/"+pjt_name;
        });
    }
</script>

{% endblock %}
