{% extends 'base_logon.html' %}
{% load static %}
   {% block body-logon %}

    <div class="fly-panel" style="margin-bottom: 0;">
          <div class="fly-panel-title fly-filter">
                    <a href="/{{ username }}/show">项目信息</a>
              <span class="fly-mid"></span>
                    <a href="/{{ username }}/add">添加项目</a>
              <span class="fly-mid"></span>
                    <a href="#" class="layui-this">基准测试</a>
              <span class="fly-mid"></span>
                    <a href="/{{ username }}/del">删除项目</a>
        </div>

        <div class="layui-col-md-offset0 fly-panel-main fly-filter">
            <div style="width: 100%;height:350px;padding: 0;">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0px;">
                  <legend>请上传基准apk</legend>
                </fieldset>
                <div class="layui-col-md-offset1 fly-panel-main fly-filter">
                     <div class="layui-col-md-offset0">
{#                         <h4>您所选择的文件列表：</h4>#}
                         <div id="container">
                             <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
                             <a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
                         </div>
                         <pre id="console"></pre>
                         <br>
                         <form method = 'post' class="layui-form layui-form-pane" enctype="multipart/form-data">
                                <div class="layui-upload">
                                     <div class="layui-col-md-offset0">

                                         {% for i in projectform %}
                                              <div class="layui-form-item">
                                                <label class="layui-form-label">{{ i.label}}</label>
                                                <div class="layui-input-inline">
                                                    {{i}}
                                                </div>
                                              </div>

                                            {% endfor %}
                                             <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>

                                              <div class="layui-col-md-offset2">
                                                  <input id ="submit_pjt" class="layui-btn layui-btn-normal" type="submit" value = "创建" />
                                              </div>
                                     </div>
                                </div>
                         </form>
                </div>
                         </div>
                </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    function myFunction() {
        document.getElementById("oss_apk").value = '123';
        }
    <script type="text/javascript" src="{% static 'ossup/lib/crypto1/crypto/crypto.js'%}"></script>
    <script type="text/javascript" src="{% static 'ossup/lib/crypto1/hmac/hmac.js'%}"></script>
    <script type="text/javascript" src="{% static 'ossup/lib/crypto1/sha1/sha1.js'%}"></script>
    <script type="text/javascript" src="{% static 'ossup/lib/base64.js'%}"></script>
    <script type="text/javascript" src="{% static 'ossup/lib/plupload-2.1.2/js/plupload.full.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'ossup/upload.js'%}"></script>

{% endblock %}
